*{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;

  padding:0 auto;
  margin:0 auto;
  /* border: 0.5px solid rgb(236, 211, 64); */
}

/* --------header-------- */
header{
  background-color: #eee;
  text-align: center;
  padding: 20px 0px;
}
.header_title{
  display: inline-block;
  vertical-align: middle;
}
.header_title img, .header_title span{
  display: block;
}
.header_title span{
  font-size: 13px;
  font-weight: 600;
}
.header_nav{
  display: inline-block;
}
.header_nav a{
  padding: 30px 50px;
  text-decoration: none;
  color: #818181
}
.header_nav a:hover{
  color: #f7a220
}

/* --------main-------- */
main{
  text-align: center;
  margin: 60px 0;
}
.main_p, main img{
  display: inline-block;
  vertical-align: top;
}
.main_p{
  width: 400px;
  text-align: left;
  margin: 0 60px;
}
.main_p h1{
  font-size: 60px;
  font-weight: 500;
  color:rgb(37, 37, 34);
}
.main_p h2{
  font-size: 30px;
  font-weight: 500;
  color:rgb(37, 37, 34);
}
.main_p p{
  line-height: 22px;
  margin-bottom: 20px;

  color: #585858;
}

.main_p_btn-span{
  text-align: center;
}
.main_p_btn-span button{
  font-size: 25px;
  color: white;
  background: linear-gradient(#ffbb57 0%,#ffbb57 50%,#f99403 50%,#f99403 100%);

  padding: 15px;

  border: none;
  border-radius: 3px;

  display: block;
}
.main_p_btn-span span{
  text-align: left;
  color: #585858;
  font-size: 5px;

  display: block;
}
.main_p_btn-span span, .main_p_btn-span button{
  width: 220px;
}

/* --------article-------- */
article{
  text-align: center;
  margin: 150px 200px;
  padding-left: 10px;
}
article h2{
  text-align: left;
  padding-bottom: 25px;

  font-size: 30px;
  font-weight: 500;
  color:rgb(37, 37, 34);
}
article div{
  columns: 2;
}
article p{
  text-align: left;
  padding-bottom: 25px;

  color: #585858;
}

/* --------footer-------- */
footer{
  background-color: #eee;
  height: 79px;
  text-align: center;

  position: relative;
}
footer img{
  width: 25px;
  height: 25px;
}
footer a{
  padding: 0 6px;
}
footer li{
  display: inline-block;
}
footer ul{
  padding-left: 0;
  margin-left: 450px;
}
footer span{
  font-size: 10px;
  color: #585858;
}
footer span, footer ul{
  display: inline-block;
  vertical-align: middle;
}
footer div{
  width: fit-content;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}