*{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;

  padding:0 auto;
  margin:0 auto;
  /* border: 0.5px solid rgb(236, 211, 64); */
}

/* --------header-------- */
header{
  background-color: #eee;
  text-align: center;
  padding: 20px 0px;
}
.header_title h1{
  font-size: 13px;
  font-weight: 600;
}
.header_title{
  display: inline-block;
  vertical-align: middle;
}
.header_title img, .header_title h1{
  display: block;
}
header nav{
  display: inline-block;
}
header a{
  text-decoration: none;
  color: #818181;
  padding: 30px 50px;
}
header a:hover{
  color: #f7a220;
}

/* --------main-------- */
main{
  text-align: center;
  margin: 60px 0;
}
.main_paragraph, main img{
  display: inline-block;
  vertical-align: top;
}
.main_paragraph{
  width: 400px;
  text-align: left;
  margin: 0 60px;
}
.main_paragraph p{
  margin-bottom: 20px;
}
.main_btn-container{
  text-align: center;
}
.main_btn-container button,
.main_btn-container span{
  display: block;
  width: 220px;
}
.main_btn-container button{
  font-size: 25px;
  color: white;
  background: linear-gradient(#ffbb57 0%,#ffbb57 50%,#f99403 50%,#f99403 100%);

  padding: 15px;
  border: none;
  border-radius: 3px;
}
.main_btn-container span{
  font-size: 5px;
  color: #585858;

  text-align: left;
}
.main_paragraph h2{
  font-size: 60px;
  font-weight: 500;
  color:rgb(37, 37, 34);
}
.main_paragraph h3{
  font-size: 30px;
  font-weight: 500;
  color:rgb(37, 37, 34);
}

/* --------article-------- */
article{
  text-align: center;
  margin: 150px auto;
  max-width: 900px;
}
article p{
  color: #585858;

  text-align: left;
  padding-bottom: 25px;
}
article h3{
  font-size: 30px;
  font-weight: 500;
  color:rgb(37, 37, 34);

  text-align: left;
  padding-bottom: 25px;
}
.article_paragraph{
  columns: 2;
  column-gap: 60px;
}

/* --------footer-------- */
footer{
  background-color: #eee;
  height: 79px;
  text-align: center;

  position: relative;
}
footer img, footer a{
  width: 25px;
  height: 25px;
}
footer a{
  padding: 0 6px;
  display: inline-block;
}
footer li{
  display: inline-block;
}
footer ul{
  padding-left: 0;
  margin-left: 450px;
}
footer span{
  font-size: 10px;
  color: #585858;
}
footer span, footer ul{
  display: inline-block;
  vertical-align: middle;
}
footer div{
  width: fit-content;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media screen and (max-width: 900px) {
  .header_title{
    margin-bottom: 20px;
  }
  header nav{
    display: block;
  }
  header a{
    display: block;
    padding: 10px;
  }

  main h2{
    text-align: center;
  }
  main img{
    margin-top: 40px;
  }
  .main_btn-container span{
    text-align: center;
  }

  .article_paragraph{
    columns: 1;
    max-width: 400px;
  }
  article h3{
    text-align: center;
  }
  article p{
    text-align: justify;
  }

  footer div{
    display: inline-block;
    vertical-align: top;
  }
  footer span, footer ul{
    display: block;
    margin: 0px;
    margin-top: 10px;
  }
}