*{
  margin:0;
  padding:0;

  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;

  outline: 0.5px solid rgb(236, 211, 64);
}

/* --------header-------- */
h1{
  display: none;
}
header{
  padding: 20px 0px;
  min-width: 900px;

  background-color: #eee;
}
.header_container{
  margin: 0 auto;
  width: 900px;
  text-align-last: justify;
}
.header_title{
  display: inline-block;
  vertical-align: middle;
}
.header_title a{
  display: inline-block;
  vertical-align: middle;
}
.header_title img{
  vertical-align: middle;
}
nav{
  display: inline-block;
  vertical-align: middle;

  font-size: 0;
}
nav a{
  padding: 20px 20px;
  text-decoration: none;

  font-size: 15px;
  color: #818181;
}
nav a+a{
  margin-left: 80px;
}
nav a:hover{
  color: #f7a220;
}

/* --------main-------- */
main{
  margin: 60px 0;
  min-width: 900px;

  font-size: 0;
}
.main_container{
  margin: 0 auto;
  width: 800px;

  letter-spacing: 0;
}
.main_img-container{
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.main_img-container img{
  display: block;
  margin: 0 auto;
}
.main_paragraph{
  display: inline-block;
  width: 50%;
  text-align: left;
}
.main_paragraph p{
  margin-bottom: 20px;

  font-size: 14px;
  color: #585858;
}
.main_paragraph h2{
  font-size: 60px;
  font-weight: 500;
  color:rgb(37, 37, 34);
}
.main_paragraph h3{
  font-size: 30px;
  font-weight: 500;
  color:rgb(37, 37, 34);
}
.main_button-container button{
  display: block;
  border: none;
  border-radius: 3px;
  margin: 0 auto;
  padding: 15px;
  width: 220px;

  background: linear-gradient(#ffbb57 0%,#ffbb57 50%,#f99403 50%,#f99403 100%);
  font-size: 25px;
  color: white;
}
.main_button-container span{
  display: block;
  margin: 0 auto;
  width: 220px;

  font-size: 5px;
  color: #585858;
}

/* --------article-------- */
article{
  margin: 150px auto;
  max-width: 900px;
  min-width: 900px;
}
.article_container{
  width: 900px;
}
article p{
  padding-bottom: 25px;
  text-align: left;

  color: #585858;
}
article h3{
  padding-bottom: 25px;
  text-align: left;

  font-size: 30px;
  font-weight: 500;
  color:rgb(37, 37, 34);
}
.article_paragraph{
  columns: 2;
  column-gap: 60px;
}

/* --------footer-------- */
footer{
  padding: 30px 0;
  min-width: 900px;

  background-color: #eee;
}
.footer_container{
  margin: 0 auto;
  width: 900px;
}
footer span{
  display: inline-block;
  vertical-align: middle;

  font-size: 10px;
  color: #585858;
}
footer ul{
  display: inline;
  vertical-align: middle;
  float: right;
}
footer li{
  display: inline-block;
  margin: 0 3px;
}
footer a{
  display: inline-block;
}
footer i{
  font-size: 25px;
  color: black;
}
footer i:hover{
  font-size: 25px;
  color: #f7a220;
}

/* footer{
  position: relative;
  height: 79px;
  text-align: center;

  background-color: #eee;
}
footer img, footer a{
  width: 25px;
  height: 25px;
}
footer a{
  display: inline-block;
  padding: 0 6px;
}
footer li{
  display: inline-block;
}
footer ul{
  margin-left: 450px;
  padding-left: 0;
}
footer span{
  font-size: 10px;
  color: #585858;
}
footer span, footer ul{
  display: inline-block;
  vertical-align: middle;
}
footer div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  width: fit-content;
} */

/* @media screen and (max-width: 900px) {
  .header_title{
    margin-bottom: 20px;
  }
  header nav{
    display: block;
  }
  header a{
    display: block;
    padding: 10px;
  }

  main h2{
    text-align: center;
  }
  main img{
    margin-top: 40px;
  }
  .main_btn-container span{
    text-align: center;
  }

  .article_paragraph{
    columns: 1;
    max-width: 400px;
  }
  article h3{
    text-align: center;
  }
  article p{
    text-align: justify;
  }

  footer div{
    display: inline-block;
    vertical-align: top;
  }
  footer span, footer ul{
    display: block;
    margin: 0px;
    margin-top: 10px;
  }
} */